{{!-- Handlebars.registerPartial('footer-container'); --}}
Handlebars.registerPartial('footer-container', fs.readFileSync(__dirname + '/views/blocks/footer-container.handlebars', 'utf8'));

<footer class="footer">
    <div class="wrapper_k">
            <p class="footer_item">hordes.com 2018 (c) by command+x</p>
            <a href="#" class="footer_link">Скачать каталог</a>
    </div>
</footer>